section.quiz-editor {
  width: calc(100% - 93px);
}
.quiz-name-edit input {
  width: 95%;
  height: 35px;
  border: none;
  color: grey;
  font-size: 1.3em;
}
.question-header h2 {
  margin-bottom: 0;
}
.question-header p {
  margin-top: 5px;
}
.quiz-name-edit {
  display: flex;
  flex-direction: column;
}
.design-1 {
  background-color: rgb(240, 240, 240);
  width: 95%;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left: 5px solid thistle;
  margin: auto;
  margin-bottom: 10px;
  padding: 0 5px;
}
.name-quiz label,
label[for="perMark"],
label[for="total"],
label[for="nQuest"] {
  font-size: 1.3em;
  font-weight: bold;
}
.name-quiz input:disabled {
  border: none;
}
.name-quiz button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.bar {
  width: 50px;
}
.questions-tile {
  border: thin solid #ccc;
  width: 98%;
  margin: auto;
  margin-bottom: 5px;
  position: relative;
  padding: 5px 0 10px 10px;
}
.question-edit-btn,
.question-delete-btn {
  position: absolute;
  right: 8px;
}
.question-delete-btn {
  right: 60px;
  background: none;
  border: none;
  color: red;
}
.questions-tile ul {
  list-style: none;
}
.quiz-nav li {
  margin-right: 12px;
}
.questions h4 {
  margin: 5px 0;
}
.options-li {
  padding-left: 0;
}
.create-fab {
  position: fixed;
  z-index: 1;
  bottom: 20px;
  right: 28px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
