.question-header {
  padding-left: 10px;
}
.question-header h2 {
  margin-bottom: 0;
}
.question-header p {
  margin-top: 5px;
}
.quiz-name-edit {
  height: 350px;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  background-color: tomato;
}
.name-quiz {
  width: 100%;
}
.name-quiz label,
label[for="perMark"],
label[for="total"],
label[for="nQuest"] {
  font-size: 1.3em;
  font-weight: bold;
  width: 100%;
  display: block;
}
.name-quiz input {
  height: 30px;
  width: 55%;
  margin-right: 5px;
  font-size: 1.2em;
}
.name-quiz input:disabled {
  border: none;
}
.name-quiz button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.edit-time,
.publish-mode {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.bar {
  width: 50px;
}
.edit-time h2 {
  margin: 0;
}
.edit-time input {
  width: 50px;
  height: 25px;
  background: none;
  border: thin solid gray;
  border-radius: 5px;
}
.edit-time label {
  margin-right: 8px;
}
.publish-mode input[type="radio"] {
  width: 20px;
  height: 40px;
}
label[for="public"] {
  margin-left: 20px;
}
label[for="private"] {
  margin-left: 22px;
}
#private,
#public,
label[for="public"],
label[for="private"] {
  margin-bottom: -5px;
}
.questions-tile {
  border: thin solid #ccc;
  width: 98%;
  margin: auto;
}

.questions-tile ul {
  list-style: none;
}
.quiz-nav ul {
  display: flex;
  justify-content: flex-end;
}
.quiz-nav li {
  margin-right: 12px;
}
.questions h4 {
  margin: 5px 0;
}
.options-li {
  padding-left: 0;
}
.create-fab {
  position: fixed;
  z-index: 10;
  bottom: 20px;
  right: 10px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
