.quizzes {
  width: calc(100vw - 93px);
}
.quizzes-list,
.quizzes-title {
  width: 100%;
  display: block !important;
}

.quizzes-heading {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 12px;
  padding-left: 0px;
  background-color: thistle;
  width: 100%;
}
.quizzes-heading p {
  text-align: center;
}
.quizzes-heading p:nth-child(2) {
  grid-column: 2/4;
}
.quiz-name {
  text-align: center;
}
.quizzes ul {
  list-style: none;
  padding-left: 0px;
  width: 100%;
}
.quizzes-list li {
  padding-left: 5px;
  padding-bottom: 8px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 12px;
  border-bottom: thin solid #efefee;
}
.showmore {
  position: relative;
}
.show-more {
  position: absolute;
  visibility: hidden;
  flex-direction: column;
  background-color: #fff;
  border: thin solid #ccc;
  min-height: 128px;
  min-width: 90px;
  right: 0%;
  top: 100%;
  z-index: 1;
}
.showmore:hover .show-more {
  visibility: visible;
  display: flex;
}
.quizzes-list li div {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quizzes-list li div:nth-child(2) {
  grid-column: 2/4;
}
.quizzes-list li div:nth-child(5) {
  cursor: pointer;
  position: relative;
}
.student-quiz-controls {
  list-style: none;
}
.quizzes button {
  height: 40px;
  width: 100%;
  background: none;
  border: none;
  border-bottom: thin solid #efefee;
}
ul.student-quiz-controls li {
  border: none;
  font-size: 0.7em;
  color: rgb(66, 65, 65);
  border-radius: 0;
  box-shadow: none;
}
.take-quiz button {
  border-radius: 5px;
  width: 100%;
  margin-left: 0;
}
@media all and (max-width: 450px) {
  .quizzes {
    width: 100%;
  }
}
