.new-quiz-window {
  height: 100%;
  width: 100%;
}
.new-quiz {
  border: thin solid #ccc;
  width: 95%;
  max-width: 500px;
  margin: 20px auto;
  border-radius: 10px;
  background-color: #fff;
  position: relative;
}
.new-quiz-header {
  text-align: center;
  margin-top: 18px;
}
.app-title {
  color: teal;
}
.form-title {
  color: rosybrown;
}
.quiz-form {
  text-align: center;
}
.quiz-form label {
  display: block;
  width: 90%;
  max-width: 400px;

  text-align: left;
  margin: 5px 20px;
}
.quiz-form input {
  width: 90%;
  height: 35px;
  padding-left: 5px;
  border-radius: 7px;
  border: 2px solid teal;
}
.time {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  width: 95%;
  margin: 10px 0;
}
.radio {
  display: flex;
  margin-bottom: 20px;
}
.radio1 {
  display: flex;
  align-items: center;
  width: 17%;
  min-width: 90px;
  height: 40px;
  margin-left: 20px;
}
.radio1 input {
  height: 20px;
}
.radio1 label {
  margin: 0 !important;
}
.publish input {
  margin-bottom: 3px !important;
}
.create-btn {
  margin: 10px 0 30px 20px;
  width: 350px;
  margin: 15px auto;
}
.create-btn button {
  width: 100%;
  height: 35px;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: teal;
  background-image: linear-gradient(0deg, teal, rgb(9, 182, 182));
}
.create-btn button:active,
.create-btn button:focus,
.create-btn button:hover {
  border: none;
  background-image: none;
  background-color: rgb(85, 195, 195);
}
.swi {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
  margin-left: 20px;
}

label.toggle,
.swi p {
  margin: 0 !important;
}
.swi p {
  margin-bottom: 4px !important;
}
.max-retries {
  overflow: hidden;
  height: 72px;
  transition: all 0.8s ease-in-out;
}

.zero {
  transition: all 0.8s ease-in;
  height: 0;
}
