.result {
  width: calc(100% - 93px);
}
.stud-result {
  padding-bottom: 12px;
  border: thin solid #efefef;
  margin: auto;
  margin-top: 10px;
  text-align: center;
}
.stud-result button {
  width: 120px;
  height: 30px;
}
@media all and (max-width: 450px) {
  .result {
    width: 100%;
  }
}
